# R
renv/library/
renv/staging/
renv/cache/
renv/temp/
renv/settings.dcf
.Renviron
.Rhistory
.RData
.Rproj.user/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
.venv_py/
.Python
pip-log.txt
pip-delete-this-directory.txt


# VSCode
.vscode/


# Jupyter Notebook
.ipynb_checkpoints/


# data files to ignore
data/processed/*.csv
data/raw/*.csv
*.tsv
*.rds
*.rda
*.xlsx
*.parquet
*.feather
donnees-brute/